{% extends 'base.html' %}{# 一定要出现在第一行 #}
{% load staticfiles %}
{% block title %}
    课程列表
{% endblock %}

{% block custom_bread %}
    <div>
        <ul>
            <li><a href="">首页</a>>课程机构</li>

        </ul>
    </div>
{% endblock %}

{% block content %}
    {#    机构类别    #}
    <div>
        <p>机构类别: 全部 培训结构 高校 个人</p>
    </div>

    {#    城市    #}
    <div>
        <p>城市:{% for city in all_citys %}
            {{ city.name }}
        {% endfor %}
        </p>
    </div>
    {#    课程机构    #}
    <div>
        <ul>
            {% for course_org in all_orgs %}
                <li><img src="{{ MEDIA_URL }}{{ course_org.image }}" alt=""></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}