<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>找回密码</h1>
    <form action="/modify_pwd/" method="post">
        <p><input type="text" name="password1" placeholder="新密码"></p>
        <p><input type="text" name="password2" placeholder="确认密码"></p>
        <p><input type="hidden" value="{{ email }}" name="email"></p>
        <p><input type="submit"></p>
        {% csrf_token %}
    </form>
    {{ msg }}
</div>
</body>
</body>
</html>